<main>
    {{#with main}}
    <section>
        {{> title data="My educationss" big=true}}
        <ul>
            {{#each educations}}
            <li class="ms-3">
                {{name}}
                {{#unless isEnd}} (ще в процесі) {{/unless}}
            </li>
            {{/each}}
        </ul>
    </section>
    <section>
        {{> title data="My certificates" big=false}}
        <ul>
            {{#each certificates}}
            <li class="ms-3">
                {{name}} ({{id}})
            </li>
            {{/each}}
        </ul>
    </section>
    {{/with}}
</main>