<main>
    <div class="display-3 text-center">
        {{name}}
    </div>
    <br>
    <hr>
    <br>
    <div>
        <div class="display-4">Users:</div>
        {{#each users}}
        {{> facebook}}
        <div class="display-5">Friends:</div>
        <ul>
            {{#each friends}}
            <li>{{> facebook}} </li>
            <div class="display-6">Mutual friends:</div>
            <ul>
                {{#each mutual_friends}}
                <li>{{> facebook}} </li>
                {{#if mutual_friends}}
                <div class="display-6">Mutual friends:</div>
                <ul>
                    {{#each mutual_friends}}
                    <li>{{> facebook}} </li>
                    {{/each}}
                </ul>
                {{/if}}
                {{/each}}
            </ul>
            {{#if groups}}
            <div class="display-5">Groups:</div>
            <ul>
                {{#each groups}}
                <li>{{> facebook gender=description}}</li>
                <div class="display-6">Members:</div>
                <ul>
                    {{#each members}}
                    <li>{{> facebook}}</li>
                    {{/each}}
                </ul>
                {{/each}}
            </ul>
            {{/if}}
            {{/each}}
        </ul>
        {{#if groups}}
        <div class="display-5">Groups:</div>
        <ul>
            {{#each groups}}
            <li>{{> facebook gender=description}}</li>
            <div class="display-6">Members:</div>
            <ul>
                {{#each members}}
                <li>{{> facebook}}</li>
                {{/each}}
            </ul>
            {{/each}}
        </ul>
        {{/if}}

        {{/each}}
    </div>
</main>