<div class="row">
    {{#with service}}
    <div class="col-12">
        <div class="card text-bg-success">
            <div class="card-body text-center">
                <h4 class="card-title mb-4">{{title}}</h4>
                <p>{{description}}</p>
                {{#each buttons}}
                <a href="{{link}}"><button class="btn btn-primary">{{text}}</button></a>
                {{/each}}
            </div>
        </div>
    </div>
    {{/with}}
</div>